.todoform{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.modernInput{
    width: 100%;
    border: none;
    display: block;
    color: black;
    font-size: 15px;
}

.modernInput:focus{
    outline: none;
}

.modernButton{
    display: inline-block;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    padding: 12px 20px;
    color:blue;
    font-weight: bold;
    cursor: pointer;
}

.inputContainer{
    display: flex;
}

