.item{
        width: 500px;
        font-size: 20px;
        margin: auto;
}

.itemName{
    font-weight: bold;
    padding: 20px;
}

.deleteButton{
    float: right;
    border: none;
    border-radius: 5px;
    background-color: yellow;
    padding: 12px 20px;
    color:blue;
    font-weight: bold;
    cursor: pointer;
}

.completed{
    text-decoration: line-through;
}